   body {
    background-color: white;
    margin: 0;
    padding:0;
    width: 100%;
    height: 100vh;
    }

p { 
    font-family: 'Segoe UI', 'Verdana', sans-serif; 
    display: none;
    }

a { 
    text-decoration: underline; 
    color: black;
    font-family: 'Segoe UI', 'Verdana', sans-serif;
    }

